*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background: #3b1616;
}
.container{
    height: 100%;
    width: 100%;
    
}
.section{
    background: #683a3a;
    height: 100%;
    width: 100%;

}
.sectionone h1{
    font-size: 40rem;
    font-weight: 100;
    font-family:"Oswald";
    white-space: nowrap;
}