:root{
    --display: rgb(161, 177, 20);
}
*{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

}
.calculator{
    height: auto;
    width: auto;
    /* background: rgb(68, 39, 39); */
    border-radius: 10px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.display{
    background: var(--display);
    width: 250px;
    height: 100px;
    padding: 5px 10px;

}
.row{
    /* background: rgb(83, 55, 59); */
    /* padding: 0 10px ; */
    /* margin: 10px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 187.5px;
}
.btn{
    /* background: rgb(83, 55, 59); */
    width: 62.5px;
    /* margin: 5px; */
    padding: 10px;
    /* width: auto; */
    /* aspect-ratio: 1/1; */
    
}
.container{
    display: flex;
    background: black;
    overflow: hidden;
}
.column{
    display: flex;
    /* background: rgb(83, 55, 59); */
    flex-direction: column;
    overflow: visible;
}
.containerone{
    /* width: 187.5px; */
    border-radius: 0 20px 20px 0;

    background: #b31717;
}
#equal{
    height:103.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    border-radius: 20px 20px 0 0 ;
}
#clear{
    background:var(--display);
    border-radius: 0 0 20px 20px;
    position: absolute;
    z-index: 99;
}
.spe{
    background: orange;
}
#slider{
    background: whitesmoke;
    border-radius: 20px 0 0 20px ;
}